{% extends 'blog/master.html' %}

{% load crispy_forms_tags %}


{% block master %}
<header class="masthead" style="background: #0085a1; padding-bottom: 60px;">
    <div class="overlay"></div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-10">

            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.title | as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form.text | as_crispy_field }}
                </div>
                <div class="form-group">
                    <button type="submit" class="float-right btn btn-primary">Submit</button>
                </div>
            </form>

        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="btn btn-primary card-header">Your Posts</div>
                <div class="card-body">

                    {% if posts %}
                    {% for post in posts %}
                    <p><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></p>
                    <div class="post-details">
                        <small><i>by {{ post.author.username }}, on {{ post.published_date }}</i></small>
                        <div class="float-right"><a class="btn-sm btn-outline-danger" href="{% url 'post_delete' pk=post.pk%}" >Delete</a></div>
                        <div class="float-right"><a class="btn-sm btn-outline-primary" href="{% url 'post_edit' pk=post.pk %}" >Edit</a></div>
                    </div>
                    <hr>
                    {% endfor %}

                    {% else %}

                    <p>You don't have any post yet.. </p>
                    {% endif %}
                </div>
            </div>
        </div>


    </div>
</div>

<hr>
{% endblock %}