<!--      Sidebar-->
<div class="col-md-4">


    <div class="card">
        <div class="btn btn-primary card-header">Popular Posts</div>
        <div class="card-body">
            <p>Post 1</p>
            <p>Post 2</p>
            <p>Post 3</p>
            <p>Post 4</p>
        </div>

        <div class="clearfix"></div>

        <div class="btn btn-primary card-header">Categories</div>
        <div class="card-body">
            <p>Category 1</p>
            <p>Category 2</p>
            <p>Category 3</p>
            <p>Category 4</p>
        </div>
    </div>

</div>